table {
  width: 100%;
  border-collapse: collapse;
  max-width: 77rem;
  margin: 1.5rem auto 0 auto;

  thead {
    th {
      @include medium-bold;
      text-transform: uppercase;
      color: $text-2;
      padding: 0.25rem 2rem 0.25rem 0.25rem;
      text-align: left;
      width: max-content;
      white-space: nowrap;

      border-bottom: 0.0625rem $neutral-3 solid;

      &:first-of-type {
        padding: 0.25rem 2.5rem 0.25rem 0.25rem;
        max-width: 8.75rem;
        text-align: right;
        @include small;
        color: $gray-4;
      }

      &:nth-of-type(2) {
        max-width: 15.875rem;
        padding: 0.25rem .5rem 0.25rem 0.25rem;
        margin-right: 5.6875rem;

        @media only screen and (min-width: 600px) {
          padding: 0.25rem 7.1875rem 0.25rem 0.25rem;
        }
      }

      &:last-of-type {
        width: 100%;
      }
    }
  }
  tbody {
    tr {
      width: 100%;
      td {
        border-bottom: 0.0625rem $neutral-3 solid;
      }
    }
  }
}