$u-blue-6: #006FFF;
$text-3: #00000073;
$text-2: #000000A6;
$text-0-dark: #FFFFFF;
$black-85: #000000D9;
$black-45: #00000073;
$neutral-0: #FFFFFF;
$neutral-2: #F6F6F8;
$neutral-3: #EDEDF0;
$neutral-4: #DBDCE1;
$neutral-6: #B6B9C4;
$neutral-8: #838691;
